.weather {
  border-style: solid;
  max-width: 800px;
  margin: auto;
  margin-top: 50px;
  border-color: rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  padding: 20px;
  color: rgba(0, 0, 0, 0.5);
}

.weather-search .search-input {
  padding-right: 0;
}
.weather-search .submit .btn {
  background-color: #680747;
  border-style: none;
}
.weather h1 {
  margin-bottom: 5px;

  font-weight: 500;
  line-height: 1;
  font-size: 34px;
}
.weather .details {
  line-height: 1.2;
}

.forecast {
  color: rgba(0, 0, 0, 0.5);
}
.forecast .day {
  margin-left: 6px;
}
.forecast img {
  max-width: 64px;
  margin-left: 0;
}
.more-details .temp {
  margin-left: 0;
  font-size: 64px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.8);
  position: relative;
  left: -15px;
}
.more-details img {
  height: 80px;
  inset-inline: block;
  position: relative;
  top: -17px;
  left: -15px;
}
.more-details .unit {
  font-size: 16px;
  position: relative;
  top: -33px;
  left: -10px;
  color: rgba(0, 0, 0, 0.5);
}
.more-details a {
  text-decoration: none;
}
