.weather {
  border-style: solid;
  max-width: 800px;
  margin: auto;
  margin-top: 50px;
  border-color: rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  padding: 20px;
}

.weather-search .search-input {
  padding-right: 0;
}
.weather-search .submit .btn {
  /*padding: 0;*/
  background-color: #680747;
}
.weather h1 {
  margin-bottom: 0;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 500;
  line-height: 1;
  font-size: 34px;
}
.weather .details {
  color: rgba(0, 0, 0, 0.5);
  line-height: 1;
}

.forecast {
  color: rgba(0, 0, 0, 0.5);
}
.forecast .day {
  margin-left: 6px;
}
.forecast img {
  max-width: 40px;
  margin-left: 0;
}
.more-details .temp {
  margin-left: 10px;
  font-size: 64px;
  font-weight: 500;
}
.more-details img {
  height: 64px;
  inset-inline: block;
  position: relative;
  top: -17px;
}
.more-details .unit {
  font-size: 16px;
  position: relative;
  top: -33px;
  color: rgba(0, 0, 0, 0.5);
}
